.navbar {
    background-color: lightgray;
    margin-bottom: 20px;
    height: 2.2rem;
}

.navbar a {
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

/**/

.dropbtn {
    color: black;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: lightgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 20rem;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: lightgray;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4bffed;
}

.dropdown-content .cart_item {
    display: flex;
    gap: 1rem;
    font-size: 15px;
    padding: .3rem;
}

.dropdown-content .imageContainer img {
    width: 100%;
    max-width: 100px;
}

.dropdown-content .infoContainer {
    flex: 1;
}