services:
  client-app:
    build:
      context: ./client-app
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./client-app:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
